<!DOCTYPE html>
<!--
Template Name: Materialize - Material Design Admin Template
Author: PixInvent
Website: http://www.pixinvent.com/
Contact: hello@pixinvent.com
Follow: www.twitter.com/pixinvents
Like: www.facebook.com/pixinvents
Purchase: https://themeforest.net/item/materialize-material-design-admin-template/11446068?ref=pixinvent
Renew Support: https://themeforest.net/item/materialize-material-design-admin-template/11446068?ref=pixinvent
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.

-->
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  
<!-- Mirrored from pixinvent.com/materialize-material-design-admin-template/html/ltr/vertical-modern-menu-template/user-profile-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Apr 2019 08:06:06 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>User Profile Page | Materialize - Material Design Admin Template</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/vendors.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/vertical-modern-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/user-profile-page.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/custom/custom.css">
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 2-columns  " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <%- include header%>
    <!-- END: Header-->



    <!-- BEGIN: SideNav-->
    <%- include navbar%>
    <!-- END: SideNav-->

    <!-- BEGIN: Page Main-->
    <div id="main">
      <div class="row">
       
        <div class="col s12">
          <div class="container">
            <div class="row user-profile mt-1">
  <img class="responsive-img" alt="" src="../../../app-assets/images/gallery/profile-bg.png">
</div>
<div class="section" id="user-profile">
  <div class="row">
    <!-- User Profile Feed -->
    <div class="col s12 m4 l4 user-section-negative-margin">
      <div class="row">
        <div class="col s12 center-align">
          <img class="responsive-img circle z-depth-5" width="200" src="../../../app-assets/images/user/12.jpg" alt="">
          <br>
          <a class="waves-effect waves-light btn mt-5 border-radius-4"> Follow</a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col s6">
          <h6>Follower</h6>
          <h5 class="m-0"><a href="#">540</a></h5>
        </div>
        <div class="col s6">
          <h6>Following</h6>
          <h5 class="m-0"><a href="#">128</a></h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col s12">
          <p class="m-0">Performance</p>
          <p class="m-0"><a href="#">56</a> and <a href="#">42</a> reviews</p>
        </div>
      </div>
      <hr>
      <div class="row user-projects">
        <h6 class="col s12">Projects</h6>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/35.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/36.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/37.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/38.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/39.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/40.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/41.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/42.png">
        </div>
        <div class="col s4">
          <img class="responsive-img photo-border mt-10" alt="" src="../../../app-assets/images/gallery/43.png">
        </div>
      </div>
      <hr class="mt-5">
      <div class="row">
        <div class="col s12">
          <h6>Boosts</h6>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col s2 mt-2 pr-0 circle">
          <a href="#"><img class="responsive-img circle" src="../../../app-assets/images/user/1.jpg" alt=""></a>
        </div>
        <div class="col s9">
          <a href="#">
            <p class="m-0">Micheal S. Castilleja</p>
          </a>
          <p class="m-0 amber-text"><span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span></p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col s2 mt-2 pr-0 circle">
          <a href="#"><img class="responsive-img circle" src="../../../app-assets/images/user/11.jpg" alt=""></a>
        </div>
        <div class="col s9">
          <a href="#">
            <p class="m-0">Thomas A. Carranza</p>
          </a>
          <p class="m-0 amber-text"><span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span></p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col s2 mt-2 pr-0 circle">
          <a href="#"><img class="responsive-img circle" src="../../../app-assets/images/user/5.jpg" alt=""></a>
        </div>
        <div class="col s9">
          <a href="#">
            <p class="m-0">Micheal Bryant</p>
          </a>
          <p class="m-0 amber-text"><span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span></p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col s2 mt-2 pr-0 circle pb-2">
          <a href="#"><img class="responsive-img circle" src="../../../app-assets/images/user/8.jpg" alt=""></a>
        </div>
        <div class="col s9">
          <a href="#">
            <p class="m-0">Wiley J. Bryant</p>
          </a>
          <p class="m-0 amber-text"><span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span> <span class="material-icons star-width">star_rate</span>
            <span class="material-icons star-width">star_rate</span></p>
        </div>
      </div>
    </div>
    <!-- User Post Feed -->
    <div class="col s12 m6 l6">
        <div class="card horizontal">
              <!-- <div class="card-image"><img src="../../../app-assets/images/gallery/18.png" alt="" /></div> -->
              <div class="card-stacked">
                <div class="card-action">
                      <a href="#!" class="waves-effect waves-light btn gradient-45deg-red-pink right">Edit / Update</a>
                </div>
                    <div class="card-content">
                          <p>I am a very simple card with button. I am good at containing small bits of.</p>
                    </div>
                    
              </div>
        </div>
  </div>
    <!-- Today Highlight -->
    <!-- START RIGHT SIDEBAR NAV -->

<!-- END RIGHT SIDEBAR NAV -->
           
          </div>
        </div>
      </div>
    </div>
    <!-- END: Page Main-->

    <!-- Theme Customizer -->


<!--/ Theme Customizer -->


    
    <!-- BEGIN: Footer-->

   <%- include footer%>

    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="../../../app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="../../../app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="../../../app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <script src="../../../app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
  </body>

<!-- Mirrored from pixinvent.com/materialize-material-design-admin-template/html/ltr/vertical-modern-menu-template/user-profile-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Apr 2019 08:06:19 GMT -->
</html>