<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  
<!-- Mirrored from pixinvent.com/materialize-material-design-admin-template/html/ltr/vertical-modern-menu-template/page-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Apr 2019 19:23:33 GMT -->
<head>
    
    
    <link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">
    <%- include styles %>
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 2-columns  " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <header class="page-topbar" id="header">
            <div class="navbar navbar-fixed"> 
              <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-purple no-shadow">
                <div class="nav-wrapper">
                     
                  <ul class="navbar-list right">
                    <!-- <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light translation-button" href="javascript:void(0);" data-target="translation-dropdown"><span class="flag-icon flag-icon-gb"></span></a></li> -->
                    <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
                    <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                    <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge">5</small></i></a></li>
                    <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="../../../app-assets/images/avatar/avatar-7.png" alt="avatar"><i></i></span></a></li>
                    <li><a ></a></li>
                  </ul>
                  <!-- translation-button-->
                  <ul class="dropdown-content" id="translation-dropdown">
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-gb"></i> English</a></li>
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-fr"></i> French</a></li>
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-cn"></i> Chinese</a></li>
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-de"></i> German</a></li>
                  </ul>
                  <!-- notifications-dropdown-->
                  <ul class="dropdown-content" id="notifications-dropdown">
                    <li>
                      <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
                    </li>
                    <li class="divider"></li>
                    <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                      <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                    </li>
                    <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                      <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                    </li>
                    <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                      <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                    </li>
                    <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                      <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                    </li>
                    <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                      <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                    </li>
                  </ul>
                  <!-- profile-dropdown-->
                  <ul class="dropdown-content" id="profile-dropdown">
                    <li><a class="grey-text text-darken-1" href="user-profile-page.html"><i class="material-icons">person_outline</i> Profile</a></li>
                    <li><a class="grey-text text-darken-1" href="app-chat.html"><i class="material-icons">chat_bubble_outline</i> Chat</a></li>
                    <li><a class="grey-text text-darken-1" href="page-faq.html"><i class="material-icons">help_outline</i> Help</a></li>
                    <li class="divider"></li>
                    <li><a class="grey-text text-darken-1" href="user-lock-screen.html"><i class="material-icons">lock_outline</i> Lock</a></li>
                    <li><a class="grey-text text-darken-1" href="user-login.html"><i class="material-icons">keyboard_tab</i> Logout</a></li>
                  </ul>
                </div>
                <nav class="display-none search-sm">
                  <div class="nav-wrapper">
                    <form>
                      <div class="input-field">
                        <input class="search-box-sm" type="search" required="">
                        <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
                      </div>
                    </form>
                  </div>
                </nav>
              </nav>
            </div>
          </header>
    <!-- END: Header-->



    <!-- BEGIN: SideNav-->
    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
      <div class="brand-sidebar">
        <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="index-2.html"><img src="../../../app-assets/images/logo/materialize-logo-color.png" alt="materialize logo"/><span class="logo-text hide-on-med-and-down">Materialize</span></a><a class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a></h1>
      </div>
      
      <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
        <li></li>
        <li class="bold"><a class=" waves-effect waves-cyan " href="/dashboard"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="">Dashboard</span></a>
          <li class="bold"><a class="waves-effect waves-cyan" href="/contacts"><i class="material-icons">import_contacts</i><span class="menu-title" data-i18n="">Contacts</span></a> 
              <li class="bold"><a class="collapsible-header " href="#"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="">Companies</span></a>
                  <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub " data-collapsible="accordion">
                      <li><a class="collapsible-body" href="/upcomingcompanies" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Upcoming</span></a>
                      </li>
                      <li><a class="collapsible-body" href="/visitedcompanies" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Visited</span></a>
                      </li>
                    </ul>
                  </div>
                </li>
              <li class="bold"><a class="waves-effect waves-cyan " href="/profile"><i class="material-icons">face</i><span class="menu-title" data-i18n="">My Profile</span></a>
          <li class="bold"><a class="waves-effect waves-cyan " href="/support"><i class="material-icons">help_outline</i><span class="menu-title" data-i18n="">Support</span></a> 

      </ul>
      <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
    </aside>
    <!-- END: SideNav-->

    <!-- BEGIN: Page Main-->
    <div id="main">
            <div class="row">
              <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
              <div class="col s12">
                <div class="container">
                  <!-- Contact Us -->
      <div id="contact-us" class="section">
        <div class="app-wrapper">
          <div class="contact-header">
            <div class="row contact-us">
              <div class="col s12 m12 l4 sidebar-title">
                <h5 class="m-0"><i class="material-icons contact-icon vertical-text-top">mail_outline</i> Contact
                  Us</h5>
                <p class="m-0 font-weight-500 mt-6 hide-on-med-and-down text-ellipsis">Looking
                  for design partner?</p>
                <span class="social-icons hide-on-med-and-down"><i class="fab fa-behance"></i> <i class="fab fa-dribbble ml-5"></i>
                  <i class="fab fa-facebook-f ml-5"></i> <i class="fab fa-instagram ml-5"></i></span>
              </div>
              <div class="col s12 m12 l8 form-header">
                <h6 class="form-header-text"><i class="material-icons"> mail_outline </i> Write us a few words about your
                  project.</h6>
              </div>
            </div>
          </div>
      
          <!-- Contact Sidenav -->
          <div id="sidebar-list" class="row contact-sidenav">
            <div class="col s12 m12 l4">
              <!-- Sidebar Area Starts -->
              <div class="sidebar-left sidebar-fixed">
                <div class="sidebar">
                  <div class="sidebar-content">
                    <div class="sidebar-menu list-group position-relative">
                      <div class="sidebar-list-padding app-sidebar contact-app-sidebar" id="contact-sidenav">
                        <ul class="contact-list display-grid">
                          <li>
                            <h5 class="m-0">What will be next step?</h5>
                          </li>
                          <li>
                            <h6 class="mt-5 line-height">You are one step closer to build your perfect product</h6>
                          </li>
                          <li>
                            <hr class="mt-5">
                          </li>
                        </ul>
                        <div class="row">
                          <!-- Place -->
                          <div class="col s12 place mt-4 p-0">
                            <div class="col s2 m2 l2"><i class="material-icons"> place </i></div>
                            <div class="col s10 m10 l10">
                              <p class="m-0">360 King street, <br> Feasterville Trevose, PA 19053</p>
                            </div>
                          </div>
                          <!-- Phone -->
                          <div class="col s12 phone mt-4 p-0">
                            <div class="col s2 m2 l2"><i class="material-icons"> call </i></div>
                            <div class="col s10 m10 l10">
                              <p class="m-0">(800) 900-200-333</p>
                            </div>
                          </div>
                          <!-- Mail -->
                          <div class="col s12 mail mt-4 p-0">
                            <div class="col s2 m2 l2"><i class="material-icons"> mail_outline </i></div>
                            <div class="col s10 m10 l10">
                              <p class="m-0">info@domain.com</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <a href="#" data-target="contact-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    
                  </div>
                </div>
              </div>
              <!-- Sidebar Area Ends -->
            </div>
            <div class="col s12 m12 l8 contact-form margin-top-contact">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col m6 s12">
                      <input id="name" type="text" class="validate">
                      <label for="name">Your Name</label>
                    </div>
                    <div class="input-field col m6 s12">
                      <input id="email" type="text" class="validate">
                      <label for="email">Your e-mail</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col m6 s12">
                      <input id="company" type="text" class="validate">
                      <label for="company">Company</label>
                    </div>
                    <div class="input-field col m6 s12">
                      <input id="budget" type="text" class="validate">
                      <label for="budget">App budget</label>
                    </div>
                    <div class="input-field col s12 width-100">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Textarea</label>
                      <a class="waves-effect waves-light btn">Send</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- END: Page Main-->
</div>
</div>
</div>
</div>
    <!-- Theme Customizer -->



    <!-- BEGIN: Footer-->

    <footer class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
      <div class="footer-copyright">
        <div class="container"><span>&copy; 2019          <a href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">SAURAV KR SINGH</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by SAURAV</a></span></div>
      </div>
    </footer>

    <%- include scripts %>
  </body>

<!-- Mirrored from pixinvent.com/materialize-material-design-admin-template/html/ltr/vertical-modern-menu-template/page-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Apr 2019 19:23:33 GMT -->
</html>